@font-face {
	font-family: "manga";
	src: url("mangat.woff");
}

/* Reset */
html, body, div, header, footer,
h1, h2, h3, h4, h5, h6,
ul, li, p, a {
margin: 0;
padding: 0;
font-family: "manga", 'Helvetica', 'Arial', 'Trebuchet MS', 'Verdana', sans-serif;
}

body {
	background-color: rgb(25, 25, 31);
	color: aliceblue;
	margin: 5em 5%;

}
.header{
	display: flex;
	justify-content: space-around;
	margin-bottom: 2em;
	width: 100%;
	text-align: center;
	align-items: center;
}

.button{
	background-color: deeppink;
	padding: 1em;
	border-radius: 2em;
}
.button:hover{
	animation: shake 0.2s;
	animation-iteration-count: infinite;
}
@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.artist {
	color:rgb(213, 221, 221);
}

.list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: -.5em;
	display: -moz-inline-box;
	zoom: 1;
	text-align: center;
}

.listElement{
	width: 35%;
	flex-grow: 1;
	margin: 0.3em;
	background-color: rgba(144, 78, 199, 0.137);
	padding: 0.5em;
	transition: background-color 0.1s, padding-left 0.1s, padding-right 0.1s;
}
.listElement:hover:nth-child(even){
	background-color: rgba(78, 185, 199, 0.137);
	padding-right: 10%;
}
.listElement:hover:nth-child(odd){
	background-color: rgba(78, 185, 199, 0.137);
	padding-left: 10%;
}

.songInfo{
	color:rgb(208, 255, 255);
	font-size: smaller;
	margin-top: 0.2em;
	display: inline-block;
	display: -moz-inline-box;
	zoom: 1;
	width:100%;
	text-align: center;
}

.year{
	color:rgb(168, 207, 178);
}
